.video__iframe {
    margin: 0;
    padding: 0;
    height: 316px;
    width: 515px;
    border-style: none;
}

.video__iframe:first-of-type {
    margin-right: 10px;
}

.video__iframe:last-of-type {
    margin-left: 10px;
}